/*
Theme Name: Mt. Calvary Lutheran Church
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>Mt. Calvary Lutheran Church</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Mt. Calvary Lutheran Church
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Mt. Calvary Lutheran Church is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
.container {
  max-width: 960px;
  margin: 0 auto; }

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

.edit-link {
  display: block; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/* Small menu */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* 
.main-navigation{
	@include container;
	float: none;

	.menu-toggle {
		margin: 0 auto 2rem;
		-webkit-appearance: none;
		padding: 1rem 2rem;
		background: #164d52;
		box-shadow: none;
		color: white;
		letter-spacing: 2px;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 2rem;
		&[aria-expanded=true], &:hover{
			background: lighten(#164d52, 10%);
		}
	}

	@media screen and (max-width: $mobile - 1px){

		text-align: center;

		li {
			float: none;
			display: block;

			&.menu-item-has-children > a, &.menu-item-has-children > span {
				display: none;
			}
		}
		&.toggled ul ul.sub-menu {
			display: block;
			margin-bottom: 2rem;
			border-bottom: 1px solid #164d52;
			position: static !important;
			top: 0;
			left: 0;
			z-index: 3;
			box-shadow: none;
			float: none;
			li {
				display: block;
				float: none;

				a {
					width: 100%;
					line-height: 2;
				}
			}
			.sub-menu {
				border-bottom: 0px solid #164d52;
			}
		}

		.nav-menu { border-top: 1px solid #164d52; padding-top: 2rem; }
	}

	@media screen and (min-width: $mobile){

		.nav-menu > li {
			transition: all .25s ease;
			// width: 33.33333%;
			// width: calc(100% / 3);
			height: 6rem;
			background: white;
			border-right: 1px solid #ededed;
			border-bottom: 1px solid #912f30;
			position: relative;
			font-weight: 700;
			font-size: 2rem;
			letter-spacing: 2px;
			&:last-child {
				border-right: none;
			}
			&:hover, &.clicked {
				background: #912f30;
				a, span {
					color: white;
				}
				> ul {
					display: block;
					background: #ededed;
					height: auto;
					overflow: hidden;
					float: none;
					position: relative;
					top: 3rem;
					left: 0;
					font-size: 1.5rem;
					z-index: 1;
					padding: 4rem 4rem 3rem;
					text-transform: uppercase;
					height: 44rem;
					 a, span {
					 	color: #912f30;
					 }

					ul {
						display: block;
						position: static;
						box-shadow: none;
						border: none;

						li a{
							color: #6c6c6c;
							text-transform: capitalize;
							font-weight: 400;
							&:before {
								content: '- ';
								display: inline; }
						}

					}
				}
			}
			> a, > span {
				text-align: center;
				position: relative;
				transform: translateY(-50%);
				display: block;
				top: 50%;
				color: #912f30;
				text-transform: uppercase;
			}
			// &:before{
			// 	opacity: 0;
			// 	transition: all .2s ease;
			// 	border-color: transparent;
			// }
			// &:hover:before{
			// 	transition: border-color 2s;
			// 	opacity: 1;
			// 	width: 0;
			// 	height: 0;
			// 	border-style: solid;
			// 	border-width: 3rem 3rem 0 3rem;
			// 	border-color: #912f30 transparent transparent transparent;
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -3rem;
			// 	left: 4rem;
			// 	z-index: 3;
			// }
			// &:hover:after{
			// //	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	width: 1000%;
			// 	max-width: 960px;
			// 	height: 50rem;
			// 	z-index: -1;
			// }
			// &:nth-child(3):hover:after{
			// //	background: #912F30;
			// 	background-repeat: no-repeat;
			// 	background-size: cover;
			// 	left: -200%;
			// }
			// &:nth-child(2):hover:after{
			// //	background: #6C6C6C;
			// 	background-repeat: no-repeat;
			// 	background-size: cover;
			// 	left: -100%;
			// }
			// &:first-child:hover:after{
			// //	background: #164D52;
			// 	background-repeat: no-repeat;
			// 	background-size: cover;
			// 	left: 0%;
			// }
		}

	} // End Mobile wrap

}

*/
.main-navigation {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 0; }
  .main-navigation .nav-menu {
    justify-content: flex-start;
    display: flex;
    flex-direction: row; }
    .main-navigation .nav-menu > li {
      color: #912f30;
      position: relative;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 2px;
      margin-right: 3rem;
      display: flex;
      align-items: center;
      line-height: 1;
      padding: 1rem; }
      .main-navigation .nav-menu > li a, .main-navigation .nav-menu > li span {
        color: #912f30; }
      .main-navigation .nav-menu > li.menu-item-has-children::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid #912f30;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: relative;
        top: 3px;
        margin-left: 1rem; }
  .main-navigation .sfHover .sub-menu {
    background: #FFF;
    box-shadow: -4px 4px 0 #912f30;
    padding: 2rem 0; }
    .main-navigation .sfHover .sub-menu li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      line-height: 1; }
      .main-navigation .sfHover .sub-menu li span, .main-navigation .sfHover .sub-menu li a {
        color: black; }
      .main-navigation .sfHover .sub-menu li.menu-item-has-children::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid #912f30;
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        position: relative;
        top: 3px;
        margin-left: 1rem; }

.menu-toggle {
  display: none;
  background: #912f30;
  color: white;
  font-weight: bold;
  border-radius: 0;
  box-shadow: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-shadow: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem; }
  .menu-toggle:hover {
    box-shadow: none; }

@media screen and (max-width: 639px) {
  .menu-toggle {
    display: block;
    margin: 0 auto; }
    .menu-open .menu-toggle {
      margin: 0;
      margin-left: 1rem; }
  .main-navigation .nav-menu {
    display: none;
    flex-direction: row; }
    .main-navigation .nav-menu li {
      float: none !important;
      display: block;
      flex-direction: column; }
    .main-navigation .nav-menu .sub-menu {
      display: block;
      float: none;
      position: static; } }

#ocs-main-menu {
  background: white;
  padding: .5rem; }
  #ocs-main-menu ul {
    margin: 0;
    padding: 0; }
    #ocs-main-menu ul ul {
      padding-left: 2rem; }
  #ocs-main-menu li {
    margin-bottom: 1rem; }
  #ocs-main-menu a {
    display: block;
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #912f30; }
  #ocs-main-menu .menu > li:first-child > a:first-child {
    border-top: none; }

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu li {
  position: relative; }

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.sf-menu > li {
  float: left; }

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%; }

/*** DEMO SKIN ***/
.sf-menu {
  float: left;
  margin-bottom: 1em; }

.sf-menu ul {
  min-width: 12em;
  /* allow long menu items to determine submenu width */
  *width: 12em;
  /* no auto sub width for IE7, see white-space comment below */ }

.sf-menu li {
  white-space: nowrap;
  /* no need for Supersubs plugin */
  *white-space: normal;
  /* ...unless you support IE7 (let it wrap) */
  transition: background .2s; }

.sf-menu li:hover,
.sf-menu li.sfHover {
  /* only transition out, not in */
  transition: none; }

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
  /* no CSS arrows for IE7 (lack pseudo-elements) */ }

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 5px solid transparent;
  border-top-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255, 255, 255, 0.5); }

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white;
  /* IE8 fallback colour */ }

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF;
  /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255, 255, 255, 0.5); }

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: white; }

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets */ }
  .widget select {
    max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
h1 {
  font-size: 2.5rem;
  font-weight: bold; }

h2 {
  font-size: 2rem;
  font-weight: bold; }

h3 {
  font-size: 1.75rem;
  font-weight: bold; }

h4 {
  font-size: 1.5rem;
  font-weight: bold; }

h5 {
  font-size: 1.25rem;
  font-weight: bold; }

h6 {
  font-size: 1rem;
  font-weight: bold; }

* {
  box-sizing: border-box; }

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

body {
  font-family: 'Open Sans', Helvetica, sans-serif; }

a, a:visited, a:active {
  text-decoration: none;
  color: #21737a; }
  a:hover, a:visited:hover, a:active:hover {
    color: #164d52; }

a.button, .button, .search-form input.button[type='submit'] {
  background: #164d52;
  display: inline-block;
  color: white;
  padding: 1rem 2rem;
  -webkit-appearance: none; }
  a.button:hover, .button:hover, .search-form input.button:hover[type='submit'] {
    color: white;
    background: #21737a; }

.hero {
  position: relative;
  z-index: -2;
  display: block; }
  .hero:hover {
    z-index: 1; }

.site-content > .hero {
  padding-bottom: 3rem; }

#masthead, #colophon {
  background: #ededed;
  min-height: 7rem; }

#masthead {
  margin-bottom: 2rem;
  padding-bottom: 1rem; }

#colophon {
  margin-top: 2rem;
  padding-top: 2rem; }
  #colophon .footer-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    justify-content: space-between; }
  #colophon .footer-map {
    margin: 0 4rem 4rem; }
  #colophon .footer-follow__title {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  #colophon .footer-follow__social {
    margin-bottom: 2rem; }
    #colophon .footer-follow__social .fa {
      font-size: 4rem; }
  #colophon .footer-follow .ctct-inline-form {
    max-width: 320px; }
    #colophon .footer-follow .ctct-inline-form div.ctct-form-embed div.ctct-form-defaults {
      padding: 0;
      background: none; }
    #colophon .footer-follow .ctct-inline-form .ctct-gdpr-text {
      display: none; }
    #colophon .footer-follow .ctct-inline-form div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
      height: auto;
      padding: 0;
      border-radius: 0; }
    #colophon .footer-follow .ctct-inline-form div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
      margin-bottom: .5rem;
      font-size: 1.25rem; }
    #colophon .footer-follow .ctct-inline-form div.ctct-form-embed form.ctct-form-custom div.ctct-form-field {
      margin-bottom: 1.5em; }
    #colophon .footer-follow .ctct-inline-form .ctct-form-button {
      padding: 1rem 2rem;
      background: #912F30;
      border-radius: 0;
      border: none;
      text-shadow: none; }
    #colophon .footer-follow .ctct-inline-form .g-recaptcha {
      display: none; }

#masthead:hover {
  position: relative;
  z-index: 2; }

.site-branding {
  max-width: 960px;
  margin: 0 auto;
  margin: 4rem auto 0;
  overflow: hidden; }
  @media screen and (min-width: 640px) {
    .site-branding {
      margin: 4rem auto; } }

.site-info {
  max-width: 960px;
  margin: 0 auto; }

.site-title {
  padding: 0 2rem; }
  @media screen and (min-width: 640px) {
    .site-title {
      max-width: 50%;
      float: left;
      padding: 0; } }

.page-title, .entry-title {
  margin: 2rem 0; }

.secondary-nav {
  text-align: right;
  padding: 0 1rem; }
  @media screen and (min-width: 640px) {
    .secondary-nav {
      width: 50%;
      float: right;
      padding: 0; } }
  .secondary-nav ul li {
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid #b9b8b8;
    padding: 0 1rem; }
    .secondary-nav ul li:last-child {
      border-right: none; }
    .secondary-nav ul li a {
      color: #6c6c6c; }

#primary {
  position: relative; }

#secondary aside ul {
  margin: 0;
  list-style: none; }

#content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem; }
  @media screen and (min-width: 960px) {
    #content {
      padding: 0; } }

@media screen and (min-width: 640px) {
  body:not(.home) #primary {
    width: 70%;
    float: left;
    padding-right: 3rem; }
    body:not(.home) #primary.full-width {
      width: 100%;
      float: none;
      padding-right: 0; }
  body:not(.home) #secondary {
    width: 30%;
    float: left;
    padding-left: 1rem;
    margin-top: 2rem; } }

body:not(.home) .main-navigation .nav-menu > li:hover > ul, body:not(.home) .main-navigation .nav-menu > li.clicked > ul {
  height: auto; }

.home-links {
  background: #5a5a5a;
  overflow: hidden;
  color: white;
  padding: 2rem 2rem; }
  .home-links h3 {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase; }
  .home-links section {
    padding: 2rem; }
    @media screen and (min-width: 640px) {
      .home-links section {
        width: calc(100% / 3);
        float: left; } }

.footer-nav {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0 1rem; }
  .footer-nav ul {
    list-style: none;
    margin: 0;
    text-align: right; }
  .footer-nav a {
    text-decoration: none;
    color: #6c6c6c;
    line-height: 2; }
    .footer-nav a:hover {
      color: #393939; }

.footer-nav > div > ul > li {
  width: 25%;
  float: left;
  list-style: none; }
  @media screen and (max-width: 639px) {
    .footer-nav > div > ul > li {
      width: 100%;
      float: none;
      padding-right: 2rem; } }
  .footer-nav > div > ul > li > span, .footer-nav > div > ul > li > a {
    font-size: 2.5rem;
    font-weight: 700;
    color: #6c6c6c;
    display: block;
    margin-bottom: 1rem; }

.social {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 4rem; }
  .social .facebook {
    margin: 3rem 0 0;
    text-transform: uppercase; }
    @media screen and (min-width: 640px) {
      .social .facebook {
        width: 80%;
        float: left; } }
    .social .facebook a {
      font-size: 2rem;
      display: block;
      color: #6c6c6c; }
      @media screen and (min-width: 640px) {
        .social .facebook a {
          font-size: 3rem; } }
      .social .facebook a span {
        font-weight: 700; }
      .social .facebook a:before {
        margin: 0 2rem 2rem 0;
        display: block;
        float: left;
        font-size: 6rem; }
  .social .email {
    margin: 2rem 0; }
    @media screen and (min-width: 640px) {
      .social .email {
        width: 20%;
        float: left;
        margin: 0; } }
    .social .email a {
      text-align: center;
      display: block; }

.site-info {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem; }
  .site-info a[rel="designer"] {
    color: #F77300; }
    .site-info a[rel="designer"]:hover {
      color: #de6700; }
  @media screen and (max-width: 639px) {
    .site-info a {
      display: block;
      margin-bottom: 1rem; }
    .site-info span {
      display: none !important; } }

.home-hero-image {
  display: block;
  width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body.archive article[class^="post-"] {
  border: 2px solid #EDEDED;
  padding: 2rem; }

.search-form {
  margin-bottom: 3rem; }
  .search-form input.button[type='submit'] {
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: .9rem 1rem;
    vertical-align: center; }

#wpfc-calendar-wrapper .ui-widget-content {
  background: #EDEDED; }

#wpfc-calendar-wrapper .ui-state-highlight, #wpfc-calendar-wrapper .ui-widget-content .ui-state-highlight, #wpfc-calendar-wrapper .ui-widget-header .ui-state-highlight {
  background: #CCC; }

#wpfc-calendar-wrapper .ui-state-default, #wpfc-calendar-wrapper .ui-widget-content .ui-state-default, #wpfc-calendar-wrapper .ui-widget-header .ui-state-default {
  color: #912F30; }

.entry-content .pagenav {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2rem; }
  .entry-content .pagenav ul {
    text-transform: none; }

@media screen and (min-width: 640px) {
  #home-video .embed-container {
    padding-bottom: 0;
    height: 44rem; } }

@media print {
  #masthead, #colophon, .hero, #secondary, .social {
    display: none; } }
