/*
Theme Name: Mt. Calvary Lutheran Church
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>Mt. Calvary Lutheran Church</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Mt. Calvary Lutheran Church
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Mt. Calvary Lutheran Church is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

$mobile: 640px;

@mixin container(){
	max-width: 960px;
	margin: 0 auto;
}

.container {
	@include container;
}

@mixin transition($time){
	transition: all $time ease;
}

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
@import "reset";

.edit-link {
	display: block;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/


h1 { font-size: 2.5rem; font-weight: bold; }
h2 { font-size: 2rem; font-weight: bold;  }
h3 { font-size: 1.75rem; font-weight: bold; }
h4 { font-size: 1.5rem; font-weight: bold; }
h5 { font-size: 1.25rem; font-weight: bold; }
h6 { font-size: 1rem; font-weight: bold; }


* {
	box-sizing: border-box;
}
@import "media/media";

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
}
a, a:visited, a:active {
	text-decoration: none;
	color: lighten(#164d52, 10%);
	&:hover {
		color: #164d52;
	}
}

a.button, .button {
	background: #164d52;
	display: inline-block;
	color: white;
	padding: 1rem 2rem;
	-webkit-appearance: none;
	&:hover {
		color: white;
		background: lighten(#164d52, 10%);
	}
}

.hero{
	position: relative;
	z-index: -2;
	display: block;
	&:hover {
		z-index: 1;
	}
}
.site-content > .hero {
	padding-bottom: 3rem;
}
#masthead, #colophon{
	background: #ededed;
	min-height: 7rem;
}

#masthead {
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

#colophon {
	margin-top: 2rem;
	padding-top: 2rem;

	.footer-info {
		display: flex;
		flex-wrap: wrap;
		padding: 0 1rem;
		justify-content: space-between;
	}

	.footer-map {
		margin: 0 4rem 4rem;
	}

	.footer-follow {
		&__title {
			font-weight: bold;
			font-size: 2rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		&__social {
			margin-bottom: 2rem;
			.fa {
				font-size: 4rem;
			}
		}

		.ctct-inline-form {
			max-width: 320px;

			div.ctct-form-embed div.ctct-form-defaults {
				padding: 0;
				background: none;
			}

			.ctct-gdpr-text {
				display: none;
			}

			div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
				height: auto;
				padding: 0;
				border-radius: 0;
			}

			div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
				margin-bottom: .5rem;
				font-size: 1.25rem;
			}

			div.ctct-form-embed form.ctct-form-custom div.ctct-form-field {
				margin-bottom: 1.5em;
			}

			.ctct-form-button {
				padding: 1rem 2rem;
				background: #912F30;
				border-radius: 0;
				border: none;
				text-shadow: none;
			}

			.g-recaptcha {
				display: none;
			}
		}
	}

}

#masthead:hover {
	position: relative;
	z-index: 2;
}
.site-branding{
	@include container;
	margin: 4rem auto 0;
	@media screen and (min-width: $mobile){
		margin: 4rem auto;
	}
	overflow: hidden;
}
.site-info {
	@include container;
}

.site-title {
	padding: 0 2rem;
	@media screen and (min-width: $mobile){
		max-width: 50%;
		float: left;
		padding: 0;
	}
}

.page-title, .entry-title {
	margin: 2rem 0;
}

.secondary-nav {
	
	text-align: right;
	padding: 0 1rem;

	@media screen and (min-width: $mobile){
		width: 50%;
		float: right;
		padding: 0;
	}

	ul li {
		display: inline-block;
		text-transform: uppercase;
		border-right: 1px solid lighten(#6c6c6c, 30%);
		padding: 0 1rem;
		&:last-child {
			border-right: none;
		}
		a {
			color: #6c6c6c;	
		}
	}
}
#primary {
	position: relative;
}

#secondary {
	aside ul {
		margin: 0;
		list-style: none;
	}
}

#content {
	@include container();
	padding: 0 1rem;
	@media screen and (min-width: 960px){
		padding: 0; }
}


body:not(.home) {
	@media screen and (min-width: $mobile){
		#primary {
			width: 70%;
			float: left;
			padding-right: 3rem;

			&.full-width {
				width: 100%;
				float: none;
				padding-right: 0;
			}
		}
		#secondary {
			width: 30%;
			float: left;
			padding-left: 1rem;
			margin-top: 2rem;
		}
	}
	.main-navigation .nav-menu > li:hover > ul, .main-navigation .nav-menu > li.clicked > ul {
		height: auto;
	}
}




.home-links {
	background: #5a5a5a	;
	overflow: hidden;
	color: white;
	padding: 2rem 2rem;

	h3 {
		font-size: 2rem;
		font-weight: 700;
		border-bottom: 1px solid white;
		display: inline-block;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		text-transform: uppercase;
	}

	section {

		@media screen and (min-width: $mobile){
			width: calc(100% / 3);
			float: left;
		}
		
		padding: 2rem;
	}
}


.footer-nav {
	overflow: hidden;
	@include container;
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding: 0 1rem;

	ul {
		list-style: none;
		margin: 0;
		text-align: right;
	}
	a {
		text-decoration: none;
		color: #6c6c6c;
		line-height: 2;
		&:hover {
			color: darken(#6c6c6c, 20%);
		}
	}
}
.footer-nav > div > ul {

	> li {
		width: 25%;

		@media screen and (max-width: $mobile - 1px){
			width: 100%;
			float: none;
			padding-right: 2rem;
		}

		float: left;
		list-style: none;

		> span, > a {
			font-size: 2.5rem;
			font-weight: 700;
			color: #6c6c6c;
			display: block;
			margin-bottom: 1rem;
		}
	}
}

.social {
	overflow: hidden;
	@include container;
	padding: 2rem 4rem;
	.facebook {

		@media screen and (min-width: $mobile){
			width: 80%;
			float: left;
		}
		margin: 3rem 0 0;
		text-transform: uppercase;

		a {
			font-size: 2rem;
			display: block;
			color: #6c6c6c;

			@media screen and (min-width: $mobile){
				font-size: 3rem;
			}

			span {
				font-weight: 700;
			}

			&:before {
				margin: 0 2rem 2rem 0;
				display: block;
				float: left;
				font-size: 6rem;	
			}
		}
	}
	.email {

		margin: 2rem 0;

		@media screen and (min-width: $mobile){
			width: 20%;
			float: left;
			margin: 0;
		}

		a {
			text-align: center;
			display: block;
		}

	}
}

.site-info {
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 4rem;

	a[rel="designer"] {
		color: #F77300;
		&:hover {
			color: darken(#f77300, 5%);
		}
	}
	@media screen and (max-width: $mobile - 1px){
		a {
			display: block;
			margin-bottom: 1rem;
		}
		span {
			display: none !important;
		}
	}
}

.home-hero-image {
	display: block;
	width: 100%;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	iframe { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
}


body.archive {
	article[class^="post-"]{
		border: 2px solid #EDEDED;
		padding: 2rem;
	} 
}

.search-form {
	margin-bottom: 3rem;

	input.button[type='submit']{
		-webkit-appearance: none;
		border: none;
		box-shadow: none;
		text-shadow: none;
		@extend .button;
		padding: .9rem 1rem;
		vertical-align: center;
	}
}

#wpfc-calendar-wrapper {
	.ui-widget-content {
		background: #EDEDED;
	}
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
		background: #CCC;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		color: #912F30;
	}

}

.entry-content {
	.pagenav {
		list-style: none;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 2rem;
		ul {
			text-transform: none;
		}
	}
}





@media screen and (min-width: $mobile){
	#home-video .embed-container {
		padding-bottom: 0;
		height: 44rem;
	}
}


@media print {
	#masthead, #colophon, .hero, #secondary, .social {
		display: none;
	}
}
