@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


html {
	font-size: 62.5%;
	background: #F5F5F5;
}
body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	line-height: 1.5;
	font-size: 1.6rem;
	max-width: 64rem;
	background: #FFF;
	border: 1px solid #DEDEDE;
	padding: 1rem !important;	
	&.wp-autoresize{
		padding: 1rem !important;	
	}
	

}
img {
	max-width: 100%;
	height: auto;
}
a, a:visited, a:active {
	text-decoration: none;
	color: lighten(#164d52, 10%);
	&:hover {
		color: #164d52;
	}
}
h1 { margin: 0; font-size: 2.5rem; font-weight: bold; }
h2 { margin: 0; font-size: 2rem; font-weight: bold;  }
h3 { margin: 0; font-size: 1.75rem; font-weight: bold; }
h4 { margin: 0; font-size: 1.5rem; font-weight: bold; }
h5 { margin: 0; font-size: 1.25rem; font-weight: bold; }
h6 { margin: 0; font-size: 1rem; font-weight: bold; }

p {
	margin-bottom: 1.5rem;
	margin-top: 0;
}