// .main-navigation {
// 	clear: both;
// 	display: block;
// 	// float: left;
// 	width: 100%;

// 	ul {
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;
// 	}

// 	// 	ul {
// 	// 		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 	// 		float: left;
// 	// 		position: absolute;
// 	// 		top: 1.5em;
// 	// 		left: -999em;
// 	// 		z-index: 99999;

// 	// 		ul {
// 	// 			left: -999em;
// 	// 			top: 0;
// 	// 		}

// 	// 		li {
// 	// 			&:hover > ul {
// 	// 				left: 100%;
// 	// 			}
// 	// 		}

// 	// 		a {
// 	// 			width: 200px;
// 	// 		}

// 	// 		:hover > a {
// 	// 		}

// 	// 		a:hover {
// 	// 		}
// 	// 	}

// 	// 	li:hover > ul {
// 	// 		left: auto;
// 	// 	}
// 	// }
// 	// li {
// 	// 	float: left;
// 	// 	position: relative;

// 	// 	&:hover > a {
// 	// 	}
// 	// }
// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a {
// 	}
// }

/* Small menu */
.menu-toggle {
	// display: none;
}



.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* 
.main-navigation{
	@include container;
	float: none;

	.menu-toggle {
		margin: 0 auto 2rem;
		-webkit-appearance: none;
		padding: 1rem 2rem;
		background: #164d52;
		box-shadow: none;
		color: white;
		letter-spacing: 2px;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 2rem;
		&[aria-expanded=true], &:hover{
			background: lighten(#164d52, 10%);
		}
	}

	@media screen and (max-width: $mobile - 1px){

		text-align: center;

		li {
			float: none;
			display: block;

			&.menu-item-has-children > a, &.menu-item-has-children > span {
				display: none;
			}
		}
		&.toggled ul ul.sub-menu {
			display: block;
			margin-bottom: 2rem;
			border-bottom: 1px solid #164d52;
			position: static !important;
			top: 0;
			left: 0;
			z-index: 3;
			box-shadow: none;
			float: none;
			li {
				display: block;
				float: none;

				a {
					width: 100%;
					line-height: 2;
				}
			}
			.sub-menu {
				border-bottom: 0px solid #164d52;
			}
		}

		.nav-menu { border-top: 1px solid #164d52; padding-top: 2rem; }
	}

	@media screen and (min-width: $mobile){

		.nav-menu > li {
			transition: all .25s ease;
			// width: 33.33333%;
			// width: calc(100% / 3);
			height: 6rem;
			background: white;
			border-right: 1px solid #ededed;
			border-bottom: 1px solid #912f30;
			position: relative;
			font-weight: 700;
			font-size: 2rem;
			letter-spacing: 2px;
			&:last-child {
				border-right: none;
			}
			&:hover, &.clicked {
				background: #912f30;
				a, span {
					color: white;
				}
				> ul {
					display: block;
					background: #ededed;
					height: auto;
					overflow: hidden;
					float: none;
					position: relative;
					top: 3rem;
					left: 0;
					font-size: 1.5rem;
					z-index: 1;
					padding: 4rem 4rem 3rem;
					text-transform: uppercase;
					height: 44rem;
					 a, span {
					 	color: #912f30;
					 }

					ul {
						display: block;
						position: static;
						box-shadow: none;
						border: none;

						li a{
							color: #6c6c6c;
							text-transform: capitalize;
							font-weight: 400;
							&:before {
								content: '- ';
								display: inline; }
						}

					}
				}
			}
			> a, > span {
				text-align: center;
				position: relative;
				transform: translateY(-50%);
				display: block;
				top: 50%;
				color: #912f30;
				text-transform: uppercase;
			}
			// &:before{
			// 	opacity: 0;
			// 	transition: all .2s ease;
			// 	border-color: transparent;
			// }
			// &:hover:before{
			// 	transition: border-color 2s;
			// 	opacity: 1;
			// 	width: 0;
			// 	height: 0;
			// 	border-style: solid;
			// 	border-width: 3rem 3rem 0 3rem;
			// 	border-color: #912f30 transparent transparent transparent;
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -3rem;
			// 	left: 4rem;
			// 	z-index: 3;
			// }
			// &:hover:after{
			// //	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	width: 1000%;
			// 	max-width: 960px;
			// 	height: 50rem;
			// 	z-index: -1;
			// }
			// &:nth-child(3):hover:after{
			// //	background: #912F30;
			// 	background-repeat: no-repeat;
			// 	background-size: cover;
			// 	left: -200%;
			// }
			// &:nth-child(2):hover:after{
			// //	background: #6C6C6C;
			// 	background-repeat: no-repeat;
			// 	background-size: cover;
			// 	left: -100%;
			// }
			// &:first-child:hover:after{
			// //	background: #164D52;
			// 	background-repeat: no-repeat;
			// 	background-size: cover;
			// 	left: 0%;
			// }
		}

	} // End Mobile wrap

}

*/

.main-navigation {
	@include container;
	padding: 2rem 0;

	.nav-menu {
		justify-content: flex-start;
		display: flex;
		flex-direction: row;

		> li {
			color: #912f30;
			position: relative;
			font-weight: 700;
			font-size: 2rem;
			letter-spacing: 2px;
			margin-right: 3rem;
			display: flex;
			align-items: center;
			line-height: 1;
			padding: 1rem;

			a, span {
				color: #912f30;
			}

			&.menu-item-has-children {
				&::after {
					content: "";
					width: 0;
					height: 0;
					border-top: 6px solid #912f30;
					border-bottom: 6px solid transparent;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					position: relative;
					top: 3px;
					margin-left: 1rem;
				}
			}
		}
	}

	.sfHover .sub-menu {
		background: #FFF;
		box-shadow: -4px 4px 0 #912f30;
		padding: 2rem 0;

		li {
			// margin-bottom: 2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 1.5rem;
			padding: 1rem 2rem;
			line-height: 1;

			span, a {
				color: black;
			}

			&.menu-item-has-children {
				&::after {
					content: "";
					width: 0;
					height: 0;
					border-left: 6px solid #912f30;
					border-bottom: 6px solid transparent;
					border-top: 6px solid transparent;
					border-right: 6px solid transparent;
					position: relative;
					top: 3px;
					margin-left: 1rem;
				}
			}
		}
	}
}

.menu-toggle {
	display: none;
	background: #912f30;
	color: white;
	font-weight: bold;
	border-radius: 0;
	box-shadow: none;
	border: none;
	appearance: none;
	text-shadow: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 1.5rem;

	&:hover {
		box-shadow: none;
	}
}

@media screen and (max-width: $mobile - 1px){

	.menu-toggle {
		display: block;
		margin: 0 auto;

		.menu-open & {
			margin: 0;
			margin-left: 1rem;
		}
	}

	.main-navigation .nav-menu {
		display: none;
		flex-direction: row;

		li {
			float: none !important;
			display: block;
			flex-direction: column;
		}

		.sub-menu {
			display: block;
			float: none;
			position: static;
		}
	}
}

#ocs-main-menu {
	background: white;
	padding: .5rem;
	
	ul {
		margin: 0;
		padding: 0;
		
		ul {
			padding-left: 2rem;
		}
	}

	li {
		margin-bottom: 1rem;
	}

	a {
		display: block;
		padding-top: 1rem;
		margin-bottom: 1rem;
		border-top: 1px solid #912f30;

	}
	.menu > li:first-child > a:first-child {
		border-top: none;
	}
}




/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	// box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}

.sf-menu li {
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	// background: #AABDE6;
}
.sf-menu ul ul li {
	// background: #9AAEDB;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	// background: #CFDEFF;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
